.data-sources-wrapper {
    position: absolute;
    top: -36px;
    right: 20px;
    width: 45%;
    color: var(--text-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    clip-path: inset(-10px -10px 0px -10px);
    transition:
        height 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        top 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
}

.data-sources-wrapper[data-expanded="true"] {
    top: -236px;
    box-shadow:
        0 -2px 10px 0 rgba(255, 255, 255, 0.35),
        0 2px 10px 0 rgba(255, 255, 255, 0.35);
}

.data-sources-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: var(--background-color);
    box-sizing: border-box;
    box-shadow:
        0 -1px 5px 0 rgba(255, 255, 255, 0.15),
        0 1px 5px 0 rgba(255, 255, 255, 0.15);
    clip-path: inset(-10px -10px 0px -10px);
    border: 1px solid var(--border-color);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}

.data-sources-wrapper[data-expanded="true"] > .data-sources-action {
    box-shadow: none;
}

.data-sources-action:hover {
    cursor: pointer;
}

.data-sources-table-wrapper {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    font-size: 0.875rem;
    border-collapse: collapse;
    box-sizing: border-box;
    background-color: var(--background-color);
    transition:
        height 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.data-sources-table-wrapper[data-visible="true"] {
    height: 200px;
    padding: 0px 10px;
    overflow: scroll;
    opacity: 1;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    transition:
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.15s,
        color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
}

.data-sources-table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
}

th {
    text-align: left;
}

.th-centered {
    text-align: center;
    width: 30%;
}

.table-tr-datapoint {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.table-td-description {
    color: var(--text-color-85-opacity);
    transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
}

.table-td-description:hover {
    cursor: pointer;
    color: var(--text-color);
}

.table-td-value {
    text-align: center;
}
