.map-controls-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    width: 80px;
    bottom: 40px;
    left: 10px;
    transition:
        width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        height 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        bottom 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.map-controls-wrapper[data-expanded="true"] {
    width: 300px;
    min-height: 80px;
    border-radius: 10px 10px 0 0;
}

.map-controls-preview {
    width: 100%;
    height: 80px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2px solid white;
    box-sizing: border-box;
    z-index: 1;
}

.map-controls-wrapper[data-expanded="true"] > .map-controls-preview {
    border-top: none;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-radius: 0px 0px 10px 10px;
}

.map-controls-preview:hover {
    cursor: pointer;
}

.map-controls-preview[data-base-layer="swissimage"] {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0) 100%),
        url("/src/assets/swissimage.jpeg");
}

.map-controls-preview[data-base-layer="pixelkarte"] {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0) 100%),
        url("/src/assets/pixelkarte.jpeg");
}

.map-controls-layers {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 0px;
    padding: 4px 10px 0px 10px;
    font-size: 0.875rem;
    background-color: var(--background-color);
    box-sizing: border-box;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-radius: 10px 10px 0 0;
    color: var(--text-color);
    opacity: 0;
    z-index: 0;
    transition:
        height 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.1s,
        color 0.1s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s,
        z-index 0.1s;
}

.map-controls-layers[data-visible="true"] {
    height: 100%;
    opacity: 1;
    z-index: 1;
}

.extra-layer-wrapper {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 0px;
}

.map-controls-layers[data-visible="true"] > .extra-layer-wrapper {
    display: flex;
}

.extra-layer-info-button {
    color: var(--background-color-action-85-opacity);
    padding-left: 4px;
    cursor: pointer;
    user-select: none;
}

.extra-layer-legend-tooltip {
    position: absolute;
    left: 320px;
    bottom: 0;
    min-width: 500px;
    max-width: 650px;
    max-height: 600px;
    overflow-y: scroll;
    padding: 8px;
    background: var(--background-color-prompt);
    color: var(--text-color);
    font-size: 0.8rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    white-space: normal;
    cursor: move;
    user-select: none;
}

.map-controls-layers-blankspace {
    width: 100%;
    height: 0;
    z-index: 0;
    transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}

.map-controls-layers[data-visible="true"] > .map-controls-layers-blankspace {
    z-index: 1;
    height: 80px;
}

.extra-layer-tooltip-close {
    cursor: pointer;
}
